---  
---  
---  
# Python code structure and syntax  
---
---
---

# 01 Python Code Structure and Syntax

- simple statemant  
- complex statement 
- code blocks

# 02 Line Continuation

- implicit line continuation

(
    implicit line continuation
)

[
    long list,
    long list2,
    long list3
]

- explicit line continuation

In [4]:
x = 2
y = 3
xy = x + \
    y

In [5]:
xy

5

- multiple statement in one line

In [6]:
x = 2; y = 3; xy2 = x * y

In [7]:
xy2

6

- Pythonic approach

# 03 Comments

- single line comment
- inline comment

In [8]:
# comment

In [9]:
# comment1
# comment2
# comment3

In [11]:
# multiline comment with """ """ is not a correct way

In [10]:
"""
test for multiple line of comments
line 2
line 3 
"""

'\ntest for multiple line of comments\nline 2\nline 3 \n'

In [12]:
# best way to make nultiple line of comment:

In [13]:
# type some lines
# line 2
# line 3
# select them
# ctrl + / to comment them all

In [14]:
# docstring is useful in defining function

In [15]:
# focus on the "why" rather than the "how"

# 04 Whitespace in Python

In [16]:
%%timeit
x = 1

7.6 ns ± 0.0665 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [17]:
%%timeit 
x                     =                   1

7.61 ns ± 0.0428 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [18]:
# keyword arguments doesn't need whitespace

---  
---
---
# Control structures
---
---
---

# 01 Introduction_to_Control_Structur

- selection control structures --> also known as conditional statemant or decision-making structures
- iteration control structures --> loop constructs
    - definite iteration --> for loop
    - indifinite iteration --> while loop

# 02 Conditional_Statements

- True and False --> are bool data type
- x = 5; x == 5 --> Truthy --> evaluates to True 
- x = 5; x == 6 --> Falsy --> evaluates to False

- What is evaluated as False?
    - boolian False value
    - numeric zero value --> 0, 0.0, 0j
    - empty sequence and collection --> (), {}, []
    - None
    - objects

In [1]:
bool(0)

False

In [3]:
bool(0.0)

False

In [4]:
bool(0j)

False

In [6]:
bool([])

False

In [7]:
bool(None)

False

In [8]:
bool('')

False

In [9]:
bool(0)

False

In [10]:
bool('0')

True

- nested conditional statement

- conditional expression --> ternary operator

In [11]:
x = 5
result = 'x is 5' if x == 5 else 'x is not 5'
print(result)

x is 5

In [ ]:
%%timeit
# exercise --> basic movie ticket pricing
user_age = int(input("Please enter your age with numbers: "))

ticket = 10

if user_age < 14:
    print(f"Your ticket is: {int(ticket/2)} $")
elif user_age > 65:
    print(f"Your ticket is: {int(ticket*0.7)}$")
else:
    print(f"Your ticket is: {ticket} $")

Your ticket is: 10 $

# 03 For-Loops

- for loop --> definitive iteration 
- while loop --> indefinitive iteration

- for loop styles:
    - Numeric range loop
    - three-expression loop
    - collection-based or iterator-based loop

In [ ]:
# numeric range loop

In [ ]:
# three expression is in C programming language

In [3]:
# python is collection-based for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
names = ['n1', 'n2', 'n3']

for name in names:
    print(name)

n1
n2
n3

In [5]:
my_set = {'set1', 'myset', 'ssse'}

for item in my_set:
    print(item)

myset
ssse
set1

In [6]:
new_dict = {
    'name': 'new',
    'age': 12,
    'occupation': 'student',
}

for key in new_dict:
    print(key)

name
age
occupation

In [8]:
for value in new_dict.values():
    print(value)

new
12
student

In [9]:
for value in new_dict.keys():
    print(value)

name
age
occupation

In [10]:
for item in new_dict.items():
    print(item)

('name', 'new')
('age', 12)
('occupation', 'student')

In [11]:
new_tuple = (1 ,2, 4, 12)

for item in new_tuple:
    print(item)

1
2
4
12

In [12]:
for key, value in new_dict.items():
    print(key, value)

name new
age 12
occupation student

In [13]:
type(range(10))

range

In [14]:
new = range(10)

In [15]:
type(new)

range

In [18]:
range(12,100,20)

range(12, 100, 20)

In [20]:
print(range(12, 120, 20))

range(12, 120, 20)

In [21]:
for number in range(12, 120, 20):
    print(number)

12
32
52
72
92
112

In [22]:
print(tuple(range(12, 120, 20)))

(12, 32, 52, 72, 92, 112)

In [23]:
print(list(range(12, 120, 20)))

[12, 32, 52, 72, 92, 112]

In [24]:
# range has start, stop, end --> default start is 0 and default step is 1

In [26]:
list(range(20, 35))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]

In [27]:
list(range(20,35,3))

[20, 23, 26, 29, 32]

In [28]:
# step of range can't be float number
list(range(1,11,0.5))

TypeError: 'float' object cannot be interpreted as an integer

- enumerate function --> return index of a iterable as well as iterable

In [29]:
mylist = list(range(1,11))

In [30]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
for item in enumerate(mylist):
    print(item)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)
(6, 7)
(7, 8)
(8, 9)
(9, 10)

In [36]:
for index, item in enumerate(mylist):
    print(index,"\t",item)

0 	 1
1 	 2
2 	 3
3 	 4
4 	 5
5 	 6
6 	 7
7 	 8
8 	 9
9 	 10

In [37]:
for index, item in enumerate(mylist, start=101):
    print(index,'\t',item, sep='')

101	1
102	2
103	3
104	4
105	5
106	6
107	7
108	8
109	9
110	10

# 04 While_Loops

In [ ]:
# reserved keywords in python
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

- while loop --> infinite iteration

In [2]:
count = 0

while count <= 5:
    print(count)
    count += 1

0
1
2
3
4
5

# 05 Loop_Control_Statements

- break --> skip whole loop
- continue --> skips one iteration in loop
- pass --> placeholder for a block

# 06 Comprehension

In [3]:
mylist = list(range(1,11))

In [4]:
mylist_square = []

for item in mylist:
    mylist_square.append(item ** 2)

In [5]:
mylist, mylist_square

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [6]:
# better way to make mylist_square
mylist_square_2 = [item ** 2 for item in mylist]

In [7]:
mylist_square_2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
names = ['nnnnnnn', 'mmmmmmmmmm', 'xxxxx', 'rrrrr']

In [17]:
# make a list that contains number of character of names list
[len(name) for name in names]

[7, 10, 5, 5]

In [ ]:
# set comprehension
myset = {1, 2, 3}

In [ ]:
myset_square = {item ** 2 for item in myset}

In [ ]:
myset_square

{1, 4, 9}

In [ ]:
# list comprehension
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

---  
---  
---  
# Functions  
---  
---  
---

# 01 Introduction to Functions

# 02 Defining_and_Calling_Functions

- function names --> snake_case

function arguments VS function parameters

- parameters --> in function definition  
- arguments --> in function calling

- print is not a function output --> output must be a variable

In [1]:
def add(a, b):
    print(a + b)

In [2]:
add(3, 4)

7

In [3]:
output = add(3, 4)

7

In [4]:
print(output)

None

In [6]:
def add_2(a, b):
    c = a + b
    return c

In [7]:
add_2(3, 4)

7

In [8]:
output_2 = add_2(3, 4)

In [9]:
print(output_2)

7

# 03 Argument_Passing

- positional arguments  
- keyword arguments

when calling a function --> if you want to use  positional argument with keyword argument, you must first use positional arguments then use keyword arguments.  
when defining a function --> if you want to add a defualt value for a argument, other argumnets after first argument with default value should have defualt value as well.

# exercise

In [11]:
def schedule_visit(section, time, activity="Feeding"):
    print(f"Planning to visit {section} section at {time} for {activity} activity.")

In [12]:
schedule_visit("Reptiles", "10:00 AM")

Planning to visit Reptiles section at 10:00 AM for Feeding activity.

In [13]:
def add_special_request(section, request=None):
    if request == None:
        print(f"No special requests have been made for the {section} section.")
    else:
        print(f"Special request for the {section} section: {request}")

In [14]:
add_special_request("Reptile")

No special requests have been made for the Reptile section.

In [15]:
add_special_request("Mamals", "Wheelchair access")

Special request for the Mamals section: Wheelchair access

# 04 Function Return Values

# 05 Variable-length Argument

# exercises

In [1]:
# 1
def plan_session(*topics):
    print(f"Topic planned for this session: {list(topics)}")

In [2]:
plan_session("plan1", "plan2", "plan3")

Topic planned for this session: ['plan1', 'plan2', 'plan3']

In [18]:
def session_details(**details):
    for key,value in details.items():
        print(f"{key.capitalize()}: {value}")

In [19]:
session_details(name="names", name2="names")

Name: names
Name2: names

# 06 Function Documentation

- docstring can be --> "", '', """ """

- exercises

In [20]:
def calculate_rectangle_area(height: int, width: int) -> int:
    """This function calculates rectangle area

    :param height:  int
    :param width: int

    :return: int
    """
    area = height * width
    return area

In [21]:
calculate_rectangle_area(12, 12)

144

In [23]:
calculate_rectangle_area.__doc__

'This function calculates rectangle area\n\n:param height:  int\n:param width: int\n\n:return: int\n'

In [24]:
print(calculate_rectangle_area.__doc__)

This function calculates rectangle area

:param height:  int
:param width: int

:return: int

In [25]:
help(calculate_rectangle_area)

Help on function calculate_rectangle_area in module __main__:

calculate_rectangle_area(height: int, width: int) -> int
    This function calculates rectangle area

    :param height:  int
    :param width: int

    :return: int

# 07 Lambda Functions

exercises

In [1]:
# 1
f = lambda x: x ** 2

In [2]:
f(2)

4

In [3]:
f(10)

100

In [4]:
# 2
f2 = lambda a, b: a * b

In [5]:
f2(2, 3)

6

In [6]:
# 3
age = [14, 18, 21, 16, 30, 45, 17, 22, 61]

In [8]:
list(filter(lambda age: age >= 18, age))

[18, 21, 30, 45, 22, 61]

In [3]:
# 4
prices = [19.99, 35.50, 89.99, 43.75]
list(map(lambda x: 0.9 * x, prices ))

[17.991, 31.95, 80.991, 39.375]

In [7]:
# 5
products = [('apple', 1.0), ('banana', 0.5), ('cherry', 1.5), ('date', 0.75)]
sorted(products, key=lambda item: item[1])

[('banana', 0.5), ('date', 0.75), ('apple', 1.0), ('cherry', 1.5)]

In [10]:
# 6
books = [
    {'title': 'Book A', 'year': 2001},
    {'title': 'Book B', 'year': 1999},
    {'title': 'Book C', 'year': 2010},
    {'title': 'Book D', 'year': 1985}
]

sorted(books, key=lambda book: book['year'])

[{'title': 'Book D', 'year': 1985},
 {'title': 'Book B', 'year': 1999},
 {'title': 'Book A', 'year': 2001},
 {'title': 'Book C', 'year': 2010}]

# 08 Built-in Functions

- exercises

In [11]:
text = "The quick brown fox jumps over the lazy dog"
numbers_list = [8, 23, 45, 12, 78]
mixed_list = ["hello", 10, "world", 42]

In [12]:
len(text)

43

In [13]:
text.upper()

'THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG'

In [15]:
sum(numbers_list)

166

In [16]:
max(numbers_list), min(numbers_list)

(78, 8)

In [17]:
count(10, numbers_list)

NameError: name 'count' is not defined

In [18]:
count(numbers_list,10)

NameError: name 'count' is not defined

In [19]:
mixed_list.count(10)

1

In [20]:
sorted(numbers_list, reverse=True)

[78, 45, 23, 12, 8]