# I want to learn python programming  


- Start: 11/27/2025  
- End:

---  
---  
---

# Introduction to Python Programming

---  
---  
---

# 01 Introduction

In [1]:
print("Hello world!")

Hello world!

only extention that I choose to use --> vscodevim

# 02 Course Material

# 03 Early Programming

# 04 Programming Languages

# 05 Why Choose Python

# 06 Python Features and Applications

- python dynamic typing  
- python garbage collector

# 07 How long does it take to learn Python

# 08 Python Versions

# 09 Effective Question Asking

- don't ask to ask  
- the XY problem --> ask X question not Y solution that didn't work  
- do not upload image of code/errors

---
---
---

# Python Environment Setup

---
---
---

# 01 Introduction to Python Development Environment

- VScode  
- Jupyter notebook  
- Anaconda

# 02 Operating Systems

# 03 Access Terminal in MacOS

command + space --> to open spotlight search in macOS  
then type terminal or Iterm  
- ITerm --> recommended terminal in macOS

# 04 Access Terminal in Linux

# 05 Access Terminal in WSL

# 06  How the File System Works in Unix-Based Systems

# 07 Command-Line Crash Course

# 08 Install VS Code on MacOS

- download vscode file
- copy to applications  
- add vscode to PATH 
- code . --> to run vscode in terminal in new_project_directory

# 09 Install VS Code on Linux

# 10 Install VS Code on WSL

*It is very insteresting, Because you connect vscode that has been installed on windows to wsl ubuntu like 
you connect to a remote server.*

- you have to install wsl extention in vscode

# 11 Getting Started with Visual Studio Code

best way to open projects in vscode --> through command line in terminal of macOS, Linux, WLS 
you must cd to project directory --> then enter: 
> code .

- you can open tabs side by side by dragging them
- when you open a file by one click its name is italic and when you click on another file second file is  
shown in the same tab , to open file in a new tab separately, open them with double click
- activate autosave from file  
- add python extention  
- add jupyter extention
- move one or multiple selected lines very smoothly --> alt + up/down

# 12 What is a Package Manager

# 13 Installing Conda

- install conda in wsl with terminal

# 14 Python Package Management System

- conda is far better than pip for several solid reasons  
    - first of first pip doesn't handle env  
- pip repository --> PyPI  
- conda repository --> conda, conda-forge, bioconda  
- PyPI is largest Python library repository  
- **Dealing with PyPI-only packages in conda:**
    - use pip within a conda env

# 15 Managing Python Packages with Conda

- when you create a new conda env without any packages determined, conda does not install  
a new version of python, by default it use system python in /usr/bin/python, after you install a package  
that requires a newer or older version of python, it will install that version of python.  
- you can run default version of python in a active conda env by typing exact version of system  
python, for example --> python3.12  

- **how to remove a env in conda**  
    - conda env remove -n env_name  
- conda install numpy=1.25 VS pip install numpy==1.25  

- **how to update a package installed in a conda env?**  
    - conda update PACKAGE_NAME  
    - to update all packages --> conda update --all  

- **env file --> YAML file extraction**  
    - conda env export > file_name.yml
- **for recreating a env from yml file**  
    - conda env create -f file_name.yml

# 16 Using Conda Environments in VS Code

- use terminal of wsl for conda management, set interpreter based on conda env.

# 17 Setting up Jupyter Notebook with Conda in VS Code

- jupyter notebook VS jupyter lab 
- REPL --> jupyterlab 
- **installing jupyterlab**  
    - conda install jupyterlab 
    - it is jupyterlab not jupyter lab

- **how to run jupyterlab**  
    - jupyter lab  
    - BUT we don't run it by itself, we integrate vscode and jupyterlab

# 18 Q & A with Students

---
---
---

# Getting started

---  
---  
---

# Data types

---  
--- 
---

# 01 Basic Data Types

decimal representation

- represent numbers in other bases

In [10]:
# 8 in base 2
0b1000

8

In [9]:
# 7 in base 2
0b111

7

In [ ]:
# 8 base 8
0o10

8

- floating point numbers

In [12]:
4e2

400.0

In [13]:
print(4.2)

4.2

In [14]:
4

4

In [15]:
type(4.)

float

In [16]:

type(4)

int

In [17]:
type(3e3)

float

In [28]:
print(3e3)

3000.0

In [26]:
type(3*10**3)

int

In [27]:
print(3*(10**3))

3000

In [29]:
1.79e308

1.79e+308

In [30]:
1.8e308

inf

In [31]:
1.9e309

inf

In [32]:
5e-324

5e-324

In [34]:
5e-325

0.0

In [35]:
5e-325

0.0

> - when floating numbers saves on computer, they must convert to binary by an approximate, so 1.1 is not exactly 1.1 but is it approximately 1.1

In [36]:
1.1 + 2.2

3.3000000000000003

In [37]:
3.3

3.3

In [38]:
(1.1 + 2.2) == 3.3

False

using quote in string

In [39]:
" this is a test for ' in python"

" this is a test for ' in python"

In [40]:
' this is another test for " in python '

' this is another test for " in python '

- escape sequences in python  
- suppressing special charater meaning

In [41]:
' this is another test for \' in python '

" this is another test for ' in python "

In [47]:
" I want to make a beeg sentence that is several line\
I want it to be in several lines\
fdfdf\
"

' I want to make a beeg sentence that is several lineI want it to be in several linesfdfdf'

In [48]:
'hossein\tasadkhanipour'

'hossein\tasadkhanipour'

In [49]:

print('hossein\tasadkhanipour')

hossein	asadkhanipour

- triple quoate string

In [1]:
print("""adfn dnfnaf  dffa fd sdfsd s aff
      asdfadfasdf
      adfadfaf
      adffd 
      asdfadff""")

adfn dnfnaf  dffa fd sdfsd s aff
      asdfadfasdf
      adfadfaf
      adffd
      asdfadff

In [2]:
bool(True)

True

In [3]:
bool(False)

False

In [4]:
bool(0)

False

In [5]:
bool(1)

True

In [6]:
bool(2)

True

In [8]:
bool(3)

True

- only bool of 0 is False and other numbers are True

# 02 Variables

- Objects --> a box that contains any thing 
- Variables --> label for the box

In [9]:
x = 1000

x is a variable  
1000 is the int object

dynamic typing --> you can change variable object

In [ ]:
x = 300

In [11]:
y = 200

In [12]:
print(x, y)

300 200

- camel case --> myNameIsHossein  
- pascal case --> MyNameIsHossein  
- snake case --> my_name_is_hossein

- snake case --> for variables and functions  
- pascal case --> for class names

- don't use camel case in python

In [13]:
# to show list of reserved words in python:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [20]:
# to make a contant variable --> variable name typed in capital letters (its a convention not a rule)  
NEW_VAR = 10

In [21]:
print(NEW_VAR)

10

In [23]:
NEW_VAR = 20

In [24]:
print(NEW_VAR)

20

# 03 Conversion Between Data Types

- Types of type convertion in python

- 1. implicit --> automatic  
- 2. explicit --> manual (typecasting)

In [25]:
# example of implicit type conversion  
int_num = 123

In [26]:
float_num = 1.23

In [27]:
sum_number = int_num + float_num

In [28]:
type(sum_number)

float

In [29]:
# example of explicit type convertion  
'12' + 15

TypeError: can only concatenate str (not "int") to str

In [30]:
type('12')

str

In [31]:
int('12') + 15

27

In [32]:
# what happens when convert float number to integer ???  
float(12)

12.0

In [33]:
int(12.2)

12

In [34]:
int(12.9)

12

- answer --> when you convert float number to integer, python only returns integer part of float number

what happens when you want to convert a string that contians float to integer directly???

In [35]:
int('1.23')

ValueError: invalid literal for int() with base 10: '1.23'

In [36]:
int(float('1.23'))

1

- answer --> first you must convert str to float then convert to int

In [37]:
str(12)

'12'

In [38]:
str(1.23)

'1.23'

# 04 Operators and Expressions

- Operators VS Expressions

- arithmetic operators --> + - * / ** // %  
- comparison operators --> ==  >  <  >=  <=  !=  
- logical operators --> and  or  not  
- assignment operators --> =  +=  -= *=  /=  //=  %=  **=  
- membership operators  --> in    not in  
- bitwise operators --> &(and) |(or)  ^(xor)  ~(not)  >>(right shift)  <<(left shift)

In [39]:
'a' in 'abc'

True

In [40]:
'a' not in 'hello world'

True

In [41]:
# exampe of bitwise operators  
# 5 is 110 in binary, 3 is 011 in binary  
# bitwise and between 5 and 3 --> 5 & 3 --> 110 & 011 --> 001
5 & 3

1

- operator precedence --> تقدم عملگرها

# 05 Objects in Python

In [1]:
x = 2

In [2]:
dir(x)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [3]:
y = 3

In [4]:
dir(y)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [5]:
dir(x) == dir(y)

True

- object reference  
- every variable has a ID

In [6]:
id(x)

9675536

In [7]:
id(y)

9675568

In [8]:
name1 = name2 = "John"

In [9]:
id(name1)

127978236389984

In [10]:
id(name2)

127978236389984

python store objects that has value of -5 to 256 in same place in memory

In [11]:
a = -5

In [12]:
b = -5

In [13]:
a is b

True

In [14]:
a = -6

In [15]:
b = -6

In [16]:
a is b

False

every variable points to a value location in memory

# 06 Strings

- every string has two view, one for user with graphic, one for computer without graphics

# 07 Basic String Operations

concatenating strings

In [17]:
first_name = "Hossein"

In [18]:
last_name = "Asadkhanipour"

In [19]:
full_name = first_name + " " + last_name

In [20]:
print(full_name)

Hossein Asadkhanipour

In [ ]:
print(full_name * 3)

Hossein AsadkhanipourHossein AsadkhanipourHossein Asadkhanipour

In [23]:
# has intentional error
print(first_name * last_name)

TypeError: can't multiply sequence by non-int of type 'str'

In [24]:
name = "name"

In [25]:
print(name * 10)

namenamenamenamenamenamenamenamenamename

In [26]:
print((name + " ") * 10)

name name name name name name name name name name

In [27]:
name * 10

'namenamenamenamenamenamenamenamenamename'

checking substring
- it is case sensitive

In [28]:
'a' in name

True

In [29]:
'y' in name

False

In [30]:
'z' not in name

True

finding length of a string

In [31]:
len(name)

4

character indexing

In [32]:
name[0]

'n'

In [33]:
name[1]

'a'

In [34]:
name[2]

'm'

In [35]:
name[3]

'e'

In [36]:
name[4]

IndexError: string index out of range

In [37]:
name[-1]

'e'

In [38]:
name[-4]

'n'

In [39]:
name[-5]

IndexError: string index out of range

In [40]:
name[::-1]

'eman'

# 08 String Methods

In [41]:
name.upper()

'NAME'

In [43]:
name.title()

'Name'

In [44]:
name = "john wick"

In [45]:
name.capitalize()

'John wick'

In [46]:
name.title()

'John Wick'

In [47]:
name.upper(2)

TypeError: str.upper() takes no arguments (1 given)

In [49]:
# to check whether a variable is only alphabetic character or not  
num_name = "name111"

In [51]:
num_name.isalpha()

False

In [53]:
# to check whether a variable is only number and alphabetic characters
num_name.isalnum()

True

In [54]:
num = 123

In [55]:
num.is_integer()

True

In [ ]:
num.isdigiti()

AttributeError: 'int' object has no attribute 'isdigiti'

In [57]:
num_2 = "123"

In [58]:
num_2.isdigit()

True

In [61]:
name

'john wick'

In [62]:
name.find('a')

-1

In [63]:
name.find("a")

-1

if find method can not find a character, it will return -1 as result

In [64]:
name.replace("john","jonathan")

'jonathan wick'

In [ ]:
name

'john wick'

text striping

In [66]:
text = "   Hello, World!   "

In [67]:
text.lstrip()

'Hello, World!   '

In [68]:
text.rstrip()

'   Hello, World!'

In [69]:
text.strip()

'Hello, World!'

spliting text based on a separator

In [70]:
text.split(",")

['   Hello', ' World!   ']

In [71]:
text.strip().split(",")

['Hello', ' World!']

In [72]:
text_2 = "  hi earth  "

In [73]:
text_2.strip().split(" ")

['hi', 'earth']

- strings are immutable

In [74]:
text_3 = " some, text "

In [75]:
text_3

' some, text '

In [76]:
text_3 = text_3.strip().split(",")

In [77]:
text_3

['some', ' text']

In [78]:
text_3 = " some, text "

In [ ]:
text_3 = text_3.strip()

In [ ]:
text_3

'some, text'

In [81]:
text_3[0]

's'

In [83]:
# has intentional error  
text_3[0] = "Z"

TypeError: 'str' object does not support item assignment

# 09 Basics of Input and Output

In [84]:
name = input()

In [85]:
name

'Happy'

In [88]:
# add message to input for better look  
name = input(" Please enter your name: ")

In [89]:
print(name)

ban

- input always take string

In [90]:
age = input("Please enter your age in numbers:")
print(age)

12

In [91]:
type(age)

str

In [92]:
age

'12'

In [93]:
age + 12

TypeError: can only concatenate str (not "int") to str

In [94]:
# Solution  
age = int(input("Please enter your age in number:"))

In [95]:
age + 12

24

In [96]:
type(age)

int

In [97]:
print(age)

12

In [98]:
print("John age is:", age)

John age is: 12

In [99]:
print("John age is:",age)

John age is: 12

- print dunction add space between multiple arguments
- how to change its behavior?

In [100]:
print("John's age is:", age, sep="")

John's age is:12

In [101]:
print("John's age is:", age, sep="  ")

John's age is:  12

In [102]:
print("John's age is:", age, sep=" FUCKER ")

John's age is: FUCKER 12

# 10 String Formatting

- f-strinng was introduced in python3.6 so older version of python work with .format method

In [103]:
name = 'john'
greeting = f"Hello, {name}"

In [104]:
name

'john'

In [105]:
greeting

'Hello, john'

In [106]:
# adding multiple expression in a string
name_2 = "john_2"

In [107]:
name_3 = "john_3"

In [108]:
greeting = f"Hello, {name}, {name_2} and {name_3}"

In [109]:
greeting

'Hello, john, john_2 and john_3'

In [110]:
# in older version of python we must use .format method
old_greeting = "Hello, {}"

In [111]:
old_greeting.format(name)

'Hello, john'

In [113]:
# for numtiple input, order of inputs is important
old_greeting = "Hello, {}, {} and {}"
old_greeting.format(name,name_2,name_3)

'Hello, john, john_2 and john_3'

In [ ]:
# name place holder doesn't require order be rigth
old_greeting_2 = "Hello, {var1}, {var2} and {var3}"
old_greeting_2.format(var1=name,var2=name_2,var3=name_3)

'Hello, john, john_2 and john_3'

In [117]:
name

'john'

In [119]:
name.capitalize()

'John'

In [122]:
new_name = 'john wick'

In [124]:
new_name.capitalize()

'John wick'

In [125]:
new_name.title()

'John Wick'

# 11 Escape Sequences and Raw Strings

In [126]:
"python"

'python'

In [127]:
"\python"

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
/tmp/ipykernel_1556/2496482246.py:1: SyntaxWarning: invalid escape sequence '\p'
  "\python"

'\\python'

In [128]:
"\\python"

'\\python'

In [129]:
"/python"

'/python'

In [130]:
'\\python'

'\\python'

In [131]:
print("\\python")

\python

In [132]:
"\npython"

'\npython'

In [133]:
print("\npython")

python

In [134]:
print("\tpython\t")

	python

In [135]:
print("python says \"Hi\"")

python says "Hi"

In [136]:
print("line_1\nline_2")

line_1
line_2

In [137]:
print(r"line_1\nline_2")

line_1\nline_2

- best use of raw string is in path address  
- because you must use \ in path and it will make problem

# 12 Composite Data Types

- 1. list  
- 2. tuple  
- 3. set --> can't have duplicate elements

In [138]:
my_set = {1, 33, 2, "hi", 2.34}

In [139]:
print(my_set)

{'hi', 1, 2, 2.34, 33}

In [142]:
# you can't index elements of set in python  
my_set[:]

TypeError: 'set' object is not subscriptable

In [143]:
for i in my_set:
    print(i)

hi
1
2
2.34
33

In [144]:
# one approach can be converting set to list and then index its elements
my_set_list = list(my_set)

In [145]:
print(my_set_list)

['hi', 1, 2, 2.34, 33]

In [148]:
type(my_set)

set

In [146]:
type(my_set_list)

list

In [149]:
# what happen when put duplicate in set?
my_set_2 = {1,2,3,"hello",True,2,2,3,3}

In [150]:
print(my_set_2)

{1, 2, 3, 'hello'}

In [151]:
# I found something interesting
# set can't have 0 and False, 1 and True at same time
# because 1 is equal to True for set
my_set_3 = {False,1,True,"hi",4}

In [152]:
print(my_set_3)

{False, 1, 4, 'hi'}

- 4. Dictionary

# 13 Lists

list() --> is not a function it is a class

In [ ]:
# list takes argumnent that is more than one character or interger
list(1)

TypeError: 'int' object is not iterable

In [154]:
list(1.2)

TypeError: 'float' object is not iterable

In [155]:
list(1,2)

TypeError: list expected at most 1 argument, got 2

In [159]:
list(k)

NameError: name 'k' is not defined

In [160]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [ ]:
list(1234)

TypeError: 'int' object is not iterable

In [ ]:
# list can take tuple as argument
list((1,2,3,4))

[1, 2, 3, 4]

In [ ]:
# list can take set as argument
list({1,2,3,4})

[1, 2, 3, 4]

In [164]:
list("12345")

['1', '2', '3', '4', '5']

In [165]:
list("1,2,3,4,5")

['1', ',', '2', ',', '3', ',', '4', ',', '5']

In [166]:
set(list("1,2,3,4,5"))

{',', '1', '2', '3', '4', '5'}

- list argument must be iterable

In [167]:
# create list with *
[1, 2, 3] * 7

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# create list with range
# BUT it must convert to list with list()
type(range(0,10))

range

In [169]:
range(10)

range(0, 10)

In [170]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
len(list(range(10)))

10

In [172]:
max(list(range(10)))

9

In [173]:
min(list(range(10)))

0

In [174]:
sum(list(range(10)))

45

# 14 Accessing and Modifying Lists

In [8]:
names = ["name_1", "name_2", "name_3"]

In [9]:
names

['name_1', 'name_2', 'name_3']

In [10]:
# updating elements
names[2] = "New_name"

In [11]:
names

['name_1', 'name_2', 'New_name']

In [12]:
names.append("New_name_2")

In [13]:
names

['name_1', 'name_2', 'New_name', 'New_name_2']

In [14]:
# can we add multiple elements to a list with append at same time
# answer --> no, aapend only takes one argument

In [15]:
# adding multiple elements to a list with extend method
names.extend(["Extended_name_1", "Extended_name_2"])

In [16]:
names

['name_1',
 'name_2',
 'New_name',
 'New_name_2',
 'Extended_name_1',
 'Extended_name_2']

In [17]:
# add element with insert method 
names.insert("Inserted_name_1")

TypeError: insert expected 2 arguments, got 1

In [18]:
# insert method requires index of insertion as well as new element
names.insert(0,"Inserted_name_1")

In [19]:
names

['Inserted_name_1',
 'name_1',
 'name_2',
 'New_name',
 'New_name_2',
 'Extended_name_1',
 'Extended_name_2']

In [ ]:
# can add int number to a list with insert method?
# answer --> yes
names.insert(0,2)

In [ ]:
names

[2,
 'Inserted_name_1',
 'name_1',
 'name_2',
 'New_name',
 'New_name_2',
 'Extended_name_1',
 'Extended_name_2']

In [22]:
type(names)

list

In [23]:
names.insert(3,True)

In [24]:
names

[2,
 'Inserted_name_1',
 'name_1',
 True,
 'name_2',
 'New_name',
 'New_name_2',
 'Extended_name_1',
 'Extended_name_2']

In [25]:
names.pop()

'Extended_name_2'

In [26]:
names

[2,
 'Inserted_name_1',
 'name_1',
 True,
 'name_2',
 'New_name',
 'New_name_2',
 'Extended_name_1']

In [27]:
names.pop(-1)

'Extended_name_1'

In [28]:
names

[2, 'Inserted_name_1', 'name_1', True, 'name_2', 'New_name', 'New_name_2']

In [29]:
names.remove(2)

In [30]:
names

['Inserted_name_1', 'name_1', True, 'name_2', 'New_name', 'New_name_2']

In [31]:
names.remove(True)

In [32]:
names

['Inserted_name_1', 'name_1', 'name_2', 'New_name', 'New_name_2']

In [43]:
names.extend([True, False, True, False])

In [44]:
names

['Inserted_name_1',
 'name_1',
 'name_2',
 'New_name',
 'New_name_2',
 True,
 False,
 True,
 False]

In [45]:
names.remove(True)

In [46]:
names

['Inserted_name_1',
 'name_1',
 'name_2',
 'New_name',
 'New_name_2',
 False,
 True,
 False]

In [47]:
names.remove(True)

In [48]:
names

['Inserted_name_1', 'name_1', 'name_2', 'New_name', 'New_name_2', False, False]

In [49]:
names.remove(False)

In [50]:
names

['Inserted_name_1', 'name_1', 'name_2', 'New_name', 'New_name_2', False]

In [51]:
names.remove(False)

In [52]:
names

['Inserted_name_1', 'name_1', 'name_2', 'New_name', 'New_name_2']

In [53]:
x = 2

In [54]:
del x

In [55]:
x

NameError: name 'x' is not defined

- del statment for deleting an element/elements of a list or delete whole list completely

In [ ]:
names

['Inserted_name_1', 'name_1', 'name_2', 'New_name', 'New_name_2']

In [57]:
del names[0]

In [58]:
names

['name_1', 'name_2', 'New_name', 'New_name_2']

In [ ]:
del names

In [ ]:
names

NameError: name 'names' is not defined

- clear method that only delete all elements of a list

In [61]:
numbers = [1, 2, 3]

In [62]:
numbers

[1, 2, 3]

In [63]:
numbers.clear()

In [64]:
numbers

[]

# 15 Common List Operations

- concatenating lists

In [65]:
list_1 = [1,2]

In [66]:
list_2 = [3, 4]

In [67]:
list_3 = list_1 + list_2

In [68]:
list_3

[1, 2, 3, 4]

In [69]:
list_4 = (list_1 * 2) + (list_2 * 3)

In [70]:
list_4

[1, 2, 1, 2, 3, 4, 3, 4, 3, 4]

In [71]:
names = ["HosseinAsadi"]

In [72]:
'Hossein' in names

False

In [73]:
"hosseinasadi" in names

False

In [74]:
"HosseinAsadi" in names

True

In [75]:
# finding index of an element in a list
names = ["name", "name2", "name3"]

In [76]:
names.index("names")

ValueError: 'names' is not in list

In [77]:
names.index("name")

0

In [78]:
# counting number of a specific element in a list
list_4.count(1)

2

In [79]:
list_4.count(3)

3

In [80]:
# reversing order of a list
list_4.reverse()

In [81]:
list_4

[4, 3, 4, 3, 4, 3, 2, 1, 2, 1]

In [87]:
rev_list = list(reversed(list_4))

In [88]:
list_4

[4, 3, 4, 3, 4, 3, 2, 1, 2, 1]

In [89]:
rev_list

[1, 2, 1, 2, 3, 4, 3, 4, 3, 4]

In [97]:
# sorting
# sort method convert our list to sorted list
rev_list.sort()

In [ ]:
rev_list

[1, 1, 2, 2, 3, 3, 3, 4, 4, 4]

In [ ]:
list_4

[4, 3, 4, 3, 4, 3, 2, 1, 2, 1]

In [ ]:
# it is not in place, doesn't change list_4
sorted(list_4)

[1, 1, 2, 2, 3, 3, 3, 4, 4, 4]

In [96]:
list_4

[4, 3, 4, 3, 4, 3, 2, 1, 2, 1]

# 16 Tuple Data Type

In [1]:
my_tuple = (12 ,12, 32, 44)

In [2]:
my_tuple

(12, 12, 32, 44)

In [3]:
# tricky tuple --> makeing a tuple that contains only one element
one_tuple = ('John')

In [4]:
type(my_tuple)

tuple

In [5]:
type(one_tuple)

str

In [6]:
# solution
single_tuple = ('John',)

In [7]:
type(single_tuple)

tuple

In [8]:
new_tuple = (2 + 3)

In [9]:
type(new_tuple)

int

this is because python saves what is in a paranthesis in a object, so we must add a "," after that element to show that it is a 
tuple not an object with a paranthesis.

when you use a list in a tuple, elements of that list can be changed,  
whole tuple is immutable BUT list in that tuple can be altered and is mutable.

In [11]:
test_tuple = (1, 'lucy', [2, 3, 4, 5])

In [12]:
type(test_tuple)

tuple

In [13]:
test_tuple[2][0] = 22

In [14]:
test_tuple

(1, 'lucy', [22, 3, 4, 5])

In [15]:
# adding two tuples
tuple_1 = (1, 2, 3)

In [16]:
tuple_2 = (3, 4, 5)

In [17]:
tuple_3 = tuple_1 + tuple_2

In [18]:
tuple_3

(1, 2, 3, 3, 4, 5)

In [19]:
tuple_1,tuple_2

((1, 2, 3), (3, 4, 5))

In [20]:
tuple_4 = tuple_3 + (6, 7, 8)

In [21]:
tuple_4

(1, 2, 3, 3, 4, 5, 6, 7, 8)

In [22]:
my_list = [3, 2, 1]

In [23]:
my_list.sort()

In [24]:
my_list

[1, 2, 3]

list can be sort with sort method in place

In [25]:
tuple_4.sort()

AttributeError: 'tuple' object has no attribute 'sort'

but sorted() is a function and we can use it on a tuple as well as list

In [26]:
sorted(my_list)

[1, 2, 3]

In [27]:
sorted(test_tuple)

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
sorted(tuple_4)

[1, 2, 3, 3, 4, 5, 6, 7, 8]

sorted() function output is always a list, so if your innput is a tuple output is a list

# 17 Q & A

# 18 Dictionary Data Type

In [1]:
first_dictionary = {
    'name': 'john',
    'last_name': 'wick',
    'age': 47,
    'number_of_guns': 1000,
}

In [2]:
first_dictionary['name']

'john'

In [3]:
first_dictionary['last_name']

'wick'

In [4]:
second_dict ={
    1:'sth',
    'name': 'peter',
    'bool': True,
}

In [5]:
second_dict[1]

'sth'

In [6]:
second_dict['bool']

True

In [7]:
first_dictionary['age'] = 54

In [8]:
first_dictionary

{'name': 'john', 'last_name': 'wick', 'age': 54, 'number_of_guns': 1000}

add another element to dictionary

In [9]:
first_dictionary['city'] = 'NYC'

In [10]:
first_dictionary

{'name': 'john',
 'last_name': 'wick',
 'age': 54,
 'number_of_guns': 1000,
 'city': 'NYC'}

In [11]:
del first_dictionary['number_of_guns']

In [12]:
first_dictionary

{'name': 'john', 'last_name': 'wick', 'age': 54, 'city': 'NYC'}

In [15]:
empty_dict = dict()

In [16]:
empty_dict

{}

In [21]:
new_dict = dict(folder=123,name=1233,age=12)

In [22]:
new_dict

{'folder': 123, 'name': 1233, 'age': 12}

wrong type of keys in dictionaries

In [23]:
test_dict = {
    [1, 2, 3] : 'john'
}

TypeError: unhashable type: 'list'

list (mutable) can't be a key in a dictionary

In [24]:
test_dict = {
    (1, 2, 3) : 'jim'
}

In [ ]:
test_dict

{(1, 2, 3): 'jim'}

tuple can be a tuple (immutable)

# 19 Accessing and Modifying Dictionary

In [27]:
testd = {
    'name': 'name',
    'age': 27,
    'city': 'Yazd',
}

- check if a key is in a dictionary keys or not

In [28]:
'city' in testd

True

In [29]:
'last_name' in testd

False

- check if sth is in dictionary values or not

In [30]:
'Yazd' in testd.values()

True

In [31]:
'Kerman' in testd.values()

False

- they are called membership operation in dictionary

- you can't concatenate dictionary with +

In [32]:
testd2 = {
    'key': 'value'
}

In [33]:
testd + testd2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [34]:
testd.update('key': 'value')

SyntaxError: invalid syntax (3868634432.py, line 1)

In [35]:
testd

{'name': 'name', 'age': 27, 'city': 'Yazd'}

In [36]:
testd.update(testd2)

In [37]:
testd

{'name': 'name', 'age': 27, 'city': 'Yazd', 'key': 'value'}

In [38]:
testd.update({'key2':'value2'})

In [39]:
testd

{'name': 'name', 'age': 27, 'city': 'Yazd', 'key': 'value', 'key2': 'value2'}

- to wiew keys of a dictionary

In [40]:
testd.keys()

dict_keys(['name', 'age', 'city', 'key', 'key2'])

In [41]:
testd.values()

dict_values(['name', 27, 'Yazd', 'value', 'value2'])

- convert keys and values of a dictionary to list

In [42]:
list(testd.keys())

['name', 'age', 'city', 'key', 'key2']

In [43]:
list(testd.values())

['name', 27, 'Yazd', 'value', 'value2']

In [44]:
list(testd.keys())[1]

'age'

In [45]:
list(testd.values())[3]

'value'

- list of keys and values of a dictionary that are tuple in list --> .item() method

In [46]:
testd.items()

dict_items([('name', 'name'), ('age', 27), ('city', 'Yazd'), ('key', 'value'), ('key2', 'value2')])

In [47]:
list(testd.items())

[('name', 'name'),
 ('age', 27),
 ('city', 'Yazd'),
 ('key', 'value'),
 ('key2', 'value2')]

In [48]:
list(testd)

['name', 'age', 'city', 'key', 'key2']

In [49]:
list(testd.keys())

['name', 'age', 'city', 'key', 'key2']

In [50]:
list(testd.values())

['name', 27, 'Yazd', 'value', 'value2']

In [51]:
list(testd.items())

[('name', 'name'),
 ('age', 27),
 ('city', 'Yazd'),
 ('key', 'value'),
 ('key2', 'value2')]

# 20 Dictionary Manipulation and Practical Uses

- accessing value of dictionat, two methods  
- dict['key']  
- dict.get('key')  

- what is the difference between this two?  
- first one returns value of the 'key'
- second one returns value of the 'key'  + it also returns a default value if 'key what not available

In [52]:
testd['city']

'Yazd'

In [53]:
testd.get('city')

'Yazd'

In [54]:
testd['country']

KeyError: 'country'

In [56]:
testd.get('country')

In [60]:
testd.get('country', 'no_country')

'no_country'

- .pop() method for dictionary --> remove a element by its key
- it also returns value of popped key as result

In [62]:
testd.keys()

dict_keys(['name', 'age', 'city', 'key', 'key2'])

In [63]:
testd.pop('key2')

'value2'

In [64]:
testd

{'name': 'name', 'age': 27, 'city': 'Yazd', 'key': 'value'}

- there is also .popitem() method  
- .pop() --> remove an element from dictionary by key, returns value of item  
- .popitem --> remove last element that was added to dict, from dictionary by key, returns key and value as a tuple

In [65]:
testd.popitem('key')

TypeError: dict.popitem() takes no arguments (1 given)

In [66]:
testd

{'name': 'name', 'age': 27, 'city': 'Yazd', 'key': 'value'}

In [70]:
testd.popitem()

('key', 'value')

In [71]:
testd.popitem()

('city', 'Yazd')

In [72]:
testd.clear()

In [73]:
testd

{}

In [74]:
test_dict

{(1, 2, 3): 'jim'}

In [75]:
test_dict.setdefault('NA')

In [76]:
test_dict.keys()

dict_keys([(1, 2, 3), 'NA'])

In [77]:
test_dict.update({'key1':'value1','key2':'value2'})

In [79]:
test_dict.keys()

dict_keys([(1, 2, 3), 'NA', 'key1', 'key2'])

In [81]:
test_dict['key1']

'value1'

In [82]:
test_dict['key3']

KeyError: 'key3'

In [ ]:
test_dict.get('key3')

In [84]:
test_dict.setdefault('key3','NA')

'NA'

In [85]:
test_dict

{(1, 2, 3): 'jim',
 'NA': None,
 'key1': 'value1',
 'key2': 'value2',
 'key3': 'NA'}

In [86]:
test_dict.update({'key3':'value3'})

In [87]:
test_dict

{(1, 2, 3): 'jim',
 'NA': None,
 'key1': 'value1',
 'key2': 'value2',
 'key3': 'value3'}

# 21 Set Data Type